* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#boxe-mensagem {
    width: 100%;
    text-align: center;
    margin-top: 200px;
    font-size: 1.5em;
    color: #353535;
}

#icone-enviado {
    width: 500px;
    margin-bottom: 20px;
}
  