body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.conteudo{
    height:100vh;
    display: flex;
    flex-direction: row;
}

.bloco-esquerdo{  
    width: 120%;
    padding: 100px;
    background-image: url("http://vozdocampo.pt/wp-content/uploads/2019/11/vinho1.png");
    background-size: cover;
}

.bloco-descricao{
    background-color: #FFFFFF;
    opacity: .6;
    border: 1px solid black;
    border-radius: 15px;
    padding: 50px;
    font-size: 2.7vh;
}

.bloco-descricao li{
    margin-bottom: 20px;
}

.bloco-direito{
    background-color: #eec145;
    padding: 70px;
}

.bloco-direito p{
    font-size: 18px;
}

.formulario{
    width: 100%;
}

.dia-horario{
    display: flex;
}

.dia {
    margin-right: 20px;
}

label{
    font-size: 18px;
}

.dia label, .horario label{
    display: block;
}

input[type=text], select, input[type=email]{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    
}

select{
    box-sizing: content-box;
}

button{
    font-size: 18px;
    display: flex;
    margin: 50px 0 50px auto;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    border: none;
    background-color: #e7891d;
    font-weight: bold;
}

button:hover, select{
    cursor:pointer;
}

@media screen and (max-width: 736px){
    .conteudo{
        flex-direction: column;
    }
}